<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="selvz" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="selvz" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="selvz" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="selvz" class="no-js">
<!--<![endif]-->
<head>
<title>Selvz</title>
<base href="/selvz-web/">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
	integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
	crossorigin="anonymous">

<script src="resources/js/angular.min.js"></script>
<script src="resources/js/angular-route.min.js"></script>
<script src="resources/js/angular-resource.min.js"></script>
<script src="resources/js/angular-cookies.min.js"></script>

<script src="resources/js/selvz-scripts.js"></script>
<script src="resources/js/selvz-config-controller.js"></script>

<script src="resources/js/ui-bootstrap-tpls-2.0.1.min.js"></script>

</head>
<body ng-controller="ConfigController" data-ng-init="loadConfigs()">

	<div class="container">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Create new scenario</h3>
			</div>
			<div class="panel-body">
				<div class="input-group">
					<span class="input-group-addon"><i
						class="glyphicon glyphicon-globe"></i></span><input type="text"
						class="form-control" ng-model="scenarioAddress">
				</div>
				<div class="input-group">
					<button id="botaoLogin" type="submit" class="btn btn-primary"
						ng-click="submitCreateScenario()">Create</button>
				</div>
			</div>
		</div>


		<hr />

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Create new poster</h3>
			</div>
			<div class="panel-body">

				<div class="input-group">
					<span class="input-group-addon"><i
						class="glyphicon glyphicon-tag"></i></span><input type="text"
						class="form-control" ng-model="posterLabel">
				</div>
				<div class="input-group">
					<span class="input-group-addon"><i
						class="glyphicon glyphicon-globe"></i></span><input type="text"
						class="form-control" ng-model="posterAddress">
				</div>
				<div class="input-group">
					<button id="botaoLogin" type="submit" class="btn btn-primary"
						ng-click="submitCreatePoster()">Create</button>
				</div>
			</div>
		</div>
		<hr />
		<div ng-repeat="poster in posters track by $index">

			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Poster id: {{poster.id}}</h3>
				</div>
				<div class="panel-body">
					<div class="input-group">
						<span class="input-group-addon"><i
							class="glyphicon glyphicon-tag"></i></span><input type="text"
							class="form-control" value="{{poster.label}}" disabled>
					</div>
					<div class="input-group">
						<span class="input-group-addon"><i
							class="glyphicon glyphicon-globe"></i></span><input type="text"
							class="form-control" value="{{poster.address}}" disabled>
					</div>
					<div class="input-group">
						<button id="botaoLogin" type="submit" class="btn btn-danger"
							ng-click="submitRemovePoster(poster.id)">Remove</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- .container -->
	<br />
</body>
</html>